certifi==2018.4.16
chardet==3.0.4
click==6.7
config==0.3.9
eventlet==0.23.0
Flask==1.0.2
Flask-Session==0.3.1
Flask-SocketIO==3.0.1
greenlet==0.4.13
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
psycopg2==2.7.5
python-decouple==3.1
python-engineio==2.2.0
python-socketio==2.0.0
requests==2.19.1
six==1.11.0
urllib3==1.23
Werkzeug==0.14.1
